@charset "UTF-8";
body {
display: flex;
flex-direction: column;
  min-height: 100vh;
  margin: 0; 
}

#footer {
    font-family: "Roboto Flex", sans-serif; 
    background-color: rgb(187, 207, 215);
    width: 100%;
    padding: 1px 0; 
    margin-top: 100px; 
    font-size: 15px;
}
section {
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
}
section a,
section div {
    display: inline-block; 
    margin-left: 50px;
}

body {
    margin: 0; 
    font-family: "Roboto Flex", sans-serif; 
    background-color: #f0f0f0; 
}

header {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    padding: 20px;
    background-color: rgb(255, 255, 255); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.logo img {
    max-height: 150px; 
    margin-bottom: 20px; 
}

/* Estilo del menú */
.menu {
    width: 100%; 
    text-align: center; 
}

.menu ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: flex; 
    justify-content: center; 
}

.menu li {
    margin: 0 20px; 
}

.menu a {
    text-decoration: none; 
    color: #333;
    font-size: 16px; 
}

.menu a:hover {
    color: #6ebe4c; 
}

.menu a.active {
    border: 2px solid #cbcbcb; 
    padding: 8px 15px; 
}


.menu a.active:hover {
    background-color: #6ebe4c; 
    color: #fff; 
    border-color: #c5dbc3; 
}

.video-container {
    width: 100%; 
    overflow: hidden;
    margin-bottom: 50px;
}

.video-container video {
    width: 100%;
    height:auto; 
}

h3 {
    text-align: left;
    font-family: "Roboto Flex", sans-serif !important; 
    font-size:small;
    font-weight: 100;
}

.map-container {
    width: 80%;
    max-width: 800px; 
    margin: 40px; 
}

#map {
    width: 100%; 
    height: 450px; 
    border: 0; 
}


/*página de contacto*/
.container {
    display: flex; 
    justify-content: flex-start; 
    align-items: flex-start;
    max-width: 800px;
    margin: 20px auto 20px; 
}


.text-section {
    flex: 1; 
    margin-right: 10px; 
    margin-top: 30px;
}

#contact-form {
    flex: 1;
    font-family: "Roboto Flex", sans-serif !important;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #b9d6bd;
    border-radius: 5px;
    background-color: #d9edd0;
    margin: 0 auto;
}

label {
    display: block; 
    margin-bottom: 5px;
}

input[type="text"], textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 15px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

button {
    padding: 10px 15px; 
    background-color: #7fcb91; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

button:hover {
    background-color: #218838; 
}

.imagen {
    size: 10px;
}
h2 {
    text-align: left;
    font-family: "Roboto Flex", sans-serif !important; 
    font-size:small;
    font-weight: 100;
}

.titulo {
    font-size:3cap;
    color: #333; 
    text-align: center; 
    margin-bottom: 20px; 
    font-family: "Roboto Flex", sans-serif !important; 
    margin-top: 5%;
}

#quienes-somos {
    font-size: 1.1rem;
    line-height: 1.6; 
    color: #555; 
    text-align:justify;
    width: 100%; 
    max-width: 1000px; 
    margin: 0 auto; 
    padding: 10px; 
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
    margin: 40px auto;
    padding: 20px;
}

.galeria .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.galeria img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.galeria img:hover {
    transform: scale(1.1);
}

.leyenda {
    font-size: 1rem;
    color: #555;
    margin-top: 10px;
    text-align: center;
}


@media (min-width: 768px) {
    .menu ul {
        font-size: 18px; 
    }

    .logo img {
        max-height: 180px; 
    }
}

@media screen and (max-width: 768px) {
header {
    justify-content: space-between;
    text-align: center;
    padding: 1px;
}

header .logo {
    width: 180px;
}

header .menu ul {
    display: flex;
    justify-content: space-between;
    width: 100%; 
    padding: 0 10px;
    margin: 0;
}

header .menu ul li {
    flex: 1;
    text-align: center;  
    margin: 0; 
}

header .menu ul li a {
    font-size: 14px; 
    display: block;
    padding: 10px 0;
}

.video-container .map .quienes-somos {
    padding: 0 5px;
    font-size: smaller
}

.video-container video {
    width: 100%;
    height: auto;
}
.container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
    width: 90%; 
    margin: 0 auto; 
}

.text-section {
    margin-bottom: 20px;
    text-align: center;
}

.text-section h2 {
    font-size: 24px;
    text-align: center;
}

.text-section p {
    font-size: 14px;
    padding: 0 10px;
}

#contact-form {
    width: 100%;
    padding: 15px;
}

input[type="text"], textarea {
    padding: 8px;
    font-size: 14px; 
    margin-bottom: 10px; 
}

button {
    font-size: 14px;
    padding: 8px 12px;
}
}